@import "../../App.scss";

.landing-image{
  display: block;
  position: relative;
  margin: 1rem 2rem 1rem;
  max-width: 10rem;
  max-height: 15rem;
  z-index: 10;
  @media screen and (min-width: 576px) {
    max-width: 20rem;
    max-height: 25rem;
  }
  &:before {
    content: "";
    position: absolute;
    right: -32px;
    bottom: -12%;
    width: 100%;
    height: 100%;
    border: 3px solid hsl(185, 84%, 25%);
    /* background: linear-gradient(to bottom right, var(--clr-primary-5), #222); */
    border-radius: 0.3rem;
    z-index: -10;
    transition: all 0.5s ease-in-out;
  }
  &:hover:before {
    bottom: -10px;
    right: -12px;
  }
    img{
      border-radius: 0.2rem; 
  }
}
